<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Phùng Thái Hưng">

    <title>Computer Shop Management System</title>

    <!-- Bootstrap Core CSS -->
    <link href="../libs/css/bootstrap.css" rel="stylesheet">

    <!-- SweetAlert Core CSS -->
    <link href="../libs/css/sweetalert2.css" rel="stylesheet">
</head>
<body ng-app="computer shop">
<div ng-controller="MainController">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Computer Shop Management System</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="homepage.html">Home</a></li>
                <li ng-show="!isLoggedIn()"><a href="login.html">Sign-in</a></li>
                <li ng-show="!isLoggedIn()" class="active"><a href="registration.html">Sign-up</a></li>
                <li ng-show="isLoggedIn()"><a href="#" ng-click="logOut()">Sign-out</a></li>
                <li><a href="displayComputers.html">Display Computers</a></li>
                <li ng-show="!isEmployee()"><a href="orderComputers.html">Order Computers</a></li>
                <li ng-show="isEmployee()"><a href="addComputers.html">Add Computers</a></li>
                <li ng-show="isEmployee()"><a href="editComputers.html">Edit Computers</a></li>
                <li ng-show="isEmployee()"><a href="removeComputers.html">Remove Computers</a></li>
                <li ng-show="isAccountant()"><a href="#">Update Payment</a></li>
                <li><a href="#">Welcome, {{userName()}}</a></li>
            </ul>
        </div>
    </nav>
</div>

<div ng-controller="AuthenticationController">
<div class="container">
    <h1>Sign-up</h1>
    <form name="registration" ng-submit="notImplemented()">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name">
        </div>
        <div class="form-group">
            <label for="email">Email address:</label>
            <input type="email" class="form-control" id="email">
        </div>
        <div class="form-group">
            <label for="pwd1">Password:</label>
            <input type="password" class="form-control" id="pwd1">
        </div>
        <div class="form-group">
            <label for="pwd2">Repeat Password:</label>
            <input type="password" class="form-control" id="pwd2">
        </div>
        <input type="submit" class="btn btn-default" value="Submit"/>
    </form>
</div>


<script src="../libs/js/jquery-3.1.1.js"></script>
<script src="../libs/js/bootstrap.js"></script>
<!-- AngularJS Core -->
<script src="../libs/js/angular.js"></script>
<!-- SweetAlert Core JavaScript -->
<script src="../libs/js/sweetalert2.js"></script>

<script src="../controller/app.js"></script>
</body>
</html>