h1 {
    text-align: center
}

span {
    border-bottom: 2px solid grey;
    width: 15%;
    display: inline-block
}

strong {
    display: flex;
    justify-content: center;
    align-items: center;
}
hr {
    width: 15%;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    opacity: 1;
}

button {
    margin-left: 48%;
    margin-right: 45%;
    cursor: pointer;
}

p {
    text-align: center;
    color: blue;
    font-weight: bold;
}

